body {

}

nav {

}

.logo {
  width: 50px;
  height: auto;
}

.bookit-gif {
  width: 50%;
  height: auto;
}

.video-icon {
  width: 54px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden;
  position: absolute;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

.by {
  width: 180px;
  height: auto;
}

.i {
  color: #fff;
}

.i-white {
  color: #1cac84;
}

.feather {
  width: 30px;
  height: auto;
}

video::-webkit-media-controls {

}

@media only screen and (max-width: 600px) {
  .logo {
    width: 40px;
    height: auto;
  }

  .video-icon {
    width: 44px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    position: absolute;
  }

  .by {
    width: 140px;
    height: auto;
  }
}
