body {

}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
  margin-bottom: -15px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 100%;
  background: #04AA6D;
  width: 0%;
}

.logo {
  width: 50px;
  height: auto;
}

.bookit-gif {
  width: 50%;
  height: auto;
}

.video-icon {
  width: 44px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden;
  position: absolute;
  margin-left: 0;
}

.i-footer {
  border: none;
  position: sticky;
  margin-top: -65px;
}

.btn-custom {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.35) !important;
  border-radius: 100%;
}

.btn-empty {
  border: none;
  background: none;
}

.mute-icon {
  color: #fff;
  width: 20px !important;
  height: 20px;
}

.no-border {
  border: none !important;
}

.left-icon {
  margin-left: -25%;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

.by {
  width: 180px;
  height: auto;
}

.i {
  color: #fff;
}

.i-white {
  color: #1cac84;
}

.i-dark {
  color: #000;
  filter: opacity(0.6);
}

.i-dark > .feather {
  width: 25px;
  height: 25px;
}

.i-spinner {
  color: #fff;
}

.feather {
  width: 30px;
  height: 30px;
}

video::-webkit-media-controls {

}

@media only screen and (max-width: 600px) {
  .logo {
    width: 40px;
    height: auto;
  }

  .video-icon {
    width: 44px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    position: absolute;
  }

  .by {
    width: 140px;
    height: auto;
  }
}
